# WARNING:  The secrets have changes and are not under source control.
# Copy this file to foursquare_secrets.py (set to be ignored in git) and fill in the secrets 

SECRETS = {
  # OAuth client secret. Must match what you set at https://foursquare.com/oauth.
  'client_secret': 'XXX',
  # Foursquare push API secret. Must match what you set at https://foursquare.com/oauth.
  'push_secret': 'XXX',
}
